
<body>
   <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
                <h2>Pinch</h2>
            </div>
        </div>
    </nav>

    <header class="header-image">
        <div class="headline">
            <div class="title"><%=@gig.title %>
            	<span class="subtitle">by <%=@user.username%> [<%=@user.bio%>]</span>
            </div>
            <div class="price"><%=STATUS[@gig.status.to_i] %></div>
        	<div class="price">$<%=@gig.price%></div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">
        <fieldset>
		<legend><%=@category.name %></legend>

			<table>
				<tbody>
					<tr>
						<td class="heading">Created By</td>
						<td><%=@user.first_name+" "+@user.last_name%></td>
					</tr>
					<tr>
						<td class="heading">Created On</td>
						<td><%=@gig.created_at.strftime("%B %d, %Y")%></td>
					</tr>
					<tr>
						<td class="heading">Rating</td>
						<td><%= Gig.average_review(@gig.requests)%></td>
					</tr>
					<tr>
						<td class="heading">Likes</td>
						<td><%=GigLike.like_count(@gig.id)%></td>
					</tr>
					
					

				</tbody>
	       </table>
		</fieldset>
        <!-- First Featurette -->
        <div class="featurette" id="about">
         
            
            
        </div>


     
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Pinch 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>